---
title: One Post
section: Blog
description: This is an example post from a single GitHub Gist!
---
<blockquote cite="http://assemble.io">
  <p>{{{description}}}</p>
</blockquote>

{{#markdown}}Content below this line is entirely from a Gist, embedded using the `\{{gist}}` helper from the [handlebars-helpers](https://github.com/assemble/handlebars-helpers) library.{{/markdown}}

<br>
<hr>

{{! Markdown example }}
{{gist "5854601"}}


